_ReSharper.*

**.user
**/*.Cache
*.*.*.cache
StyleCop.Cache
**/StyleCop.Cache
**/*.*/StyleCop.Cache
**.suo
bin/
buildArtifacts/
obj/
*.log
**/*.log
**/_[Uu]pgrade[Rr]eport_[Ff]iles/
_UpgradeReport_Files/
UpgradeLog*.*
**/.idea/
[Bb]ackup/
packages/
TestResult.xml
*.dotCover
/CheckDataBaseOutput.txt
**/bin/
**/Bin/
**/*.*.*/Bin/
bin/
debug/
obj/
Visual Studio 2012/
**.DotSettings
**.suo
**.user
**.cache
packages/
Packer/data/vagrant/Win2008R2_virtualbox.box
Packer/vagrant_templates/.vagrant/
Packer/vagrant_templates/temp/.vagrant/
